# Dependencies
node_modules/

# Environment Variables
.env
backend/.env
frontend/.env

# Build files
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/